$lbh-asset-path: "../node_modules/lbh-frontend/dist/assets";

@import "node_modules/lbh-frontend/lbh/all";
@import "node_modules/govuk-frontend/govuk/overrides/all";

@import "node_modules/govuk-frontend/govuk/components/notification-banner";

.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.align-right {
  float: right;
}

.govuk-notification-banner__content {
  margin-top: 0;
}

.sv-spinner {
  display: inline-block;
  align-items: left;
  margin-left: 10px;
  width: 100%;
  min-height: 100%;

  svg {
    display: inline-block;
    flex-shrink: 0;
    color: currentColor;
    line-height: 1rem;
    vertical-align: middle;
    transform-origin: center center;
    animation: rotate 1s linear infinite;
  }
}

.sv-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sv-result-wrapper {
  display: flex;
  flex-direction: row;
}

.sv-result {
  margin: initial;
  margin-left: 25px;
}

.sv-checkboxes {
  height: 44px;
  width: 44px;
  margin-top: 10px;
}
